html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Darker Grotesque', sans-serif;
    background: #fafafa
}

.main-section {
    background-image: url('../assets/background.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-position: center;


}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: white;
    box-sizing: border-box;
    border-radius: 10px;
    border: solid grey thin;


}

.container-lg {
    background: white;
    box-sizing: border-box;
    border-radius: 10px;
    border: solid grey thin;

}

.box .supportinput {
    width: 100%;
    margin-bottom: 30px;
    font-size: 25px;

    border: solid grey thin;
    background: #fafafa;
}

.box .signininput input {
    width: 100%;
    padding: 10px 0;
    font-size: 30px;
    margin-bottom: 30px;
    border: solid grey thin;
    background: #fafafa;
}

a {
    font-family: 'Darker Grotesque', sans-serif;
}

.btn {
    background-color: #2e6692;
    color: white;
    font-size: 30px;
    padding-inline: 20px;
}



.navbar {
    font-size: 30px;
}

.active {
    text-decoration: underline;
}



.step-row {
    width: 360px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #B1A296;
}

input {
    display: block;
    border: 0;
    width: 100%;

    padding: 10px 5px;
    margin: 5px 0;

    background-color: white;
}


.step-row {
    width: 360px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    box-shadow: 0 -1px 5px -1px #B1A296;
}

.form-step {
    display: none;
}

.form-step-active {
    display: block;
}

/* Progressbar */
.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #7bb7e0;
    z-index: 0;
}

.progress {
    background-color: #14A76C;
    width: 0%;

}

.progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #7bb7e0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.progress-step::before {
    counter-increment: step;

}

.progress-step::after {

    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #25274d;
}

.progress-step-active {
    background-color: #14A76C;
}

p {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 25px;
    text-align: justify;

}

h6 {
    font-size: 40px;
    font-family: 'Darker Grotesque', sans-serif;
}


/*code is taken from: https://mdbootstrap.com/docs/b4/jquery/javascript/google-maps/ */

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}